<a href="https://colab.research.google.com/github/noahgift/datastorying-colab/blob/main/data_storytelling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Storytelling

This is how you use colab.

![colab](https://user-images.githubusercontent.com/58792/132075761-4b6d2682-00f2-4622-a926-6b098403ac0b.png)

## Ingest

In [2]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/noahgift/datastorying-colab/main/data/nba_2017_players_with_salary_wiki_twitter.csv")
df.head()

   Unnamed: 0  Rk  ... TWITTER_FAVORITE_COUNT TWITTER_RETWEET_COUNT
0           0   1  ...                 2130.5                 559.0
1           1   2  ...                  969.0                 321.5
2           2   4  ...                  368.0                 104.0
3           3   6  ...                  102.0                  91.5
4           4   7  ...                  186.5                  43.0

[5 rows x 42 columns]

In [3]:
df.describe()

       Unnamed: 0          Rk  ...  TWITTER_FAVORITE_COUNT  TWITTER_RETWEET_COUNT
count  239.000000  239.000000  ...              236.000000             236.000000
mean   119.000000  195.401674  ...              237.466102              91.817797
std     69.137544  133.471733  ...             1025.210355             335.474533
min      0.000000    1.000000  ...                0.000000               0.000000
25%     59.500000   77.500000  ...                4.000000               8.000000
50%    119.000000  173.000000  ...               22.500000              15.000000
75%    178.500000  306.500000  ...               81.625000              47.875000
max    238.000000  475.000000  ...            12278.000000            2941.000000

[8 rows x 39 columns]

## EDA

## Modeling

## Conclusion